@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&display=swap');


  * {
    text-align: center;
  }

  .mons_black {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
  }

  .mons_semibold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
  }