@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:wght@400;700&display=swap');


/* Form Styles */

form {
    width: 50%;
    border: #12adc2 solid 1px;
    padding-left: 25px;
    padding-bottom: 25px;
}

.header {
    display: flex;
    border-top:  #12adc2 solid 1px;
    margin-top: 20px;
}

.header img {
    width: 5%;
}

.header ul {
    display: flex;
    list-style: none;
}

li {
    margin-right: 50px;
}

a {
    text-decoration: none;
}

textarea {
    width: 500px;
    height: 100px;
    margin-top: 20px;
}

.input {
    width: 500px;
    height: 50px;
    margin-top: 20px;
}

.resetear {
    font-family: 'Roboto Slab', sans-serif ;
    font-weight: 700;
    color: white;
    background-color:  #f98500;
}

.enviar {
    font-family: 'Roboto Slab', sans-serif ;
    font-weight: 700;
    color: white;
    background-color: #2c00cc;
}

.roboto-slab {
    font-family: 'Roboto Slab', sans-serif ;
    font-weight: 700;
    color: #2c00cc;
}

.roboto-reg {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #04146c;
}

.roboto-bold {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #04146c;
}

.color-red {
    color: red;
}

.size34pt {
    font-size: 45px;
}

.size23pt {
    font-size: 31px;
}

.size24pt {
    font-size: 32px;
}