@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:wght@400;700&display=swap');



.title {
    font-family: 'Roboto Slab', serif;
    font: 700;
    font-size: 69px;
    color: #0a2ff1;
}

.title2 {
    font-family: 'Roboto', sans-serif;
    font: 700;
    font-size: 25px;
    color: #0a2ff1;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #000;
}


.text2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #000;
}

.button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 27px;
    color: white;
    background-color: #0a2ff1;
}