@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:wght@400;700&display=swap');

body {
    border: rgb(59, 150, 173) solid 1px;
}

.contenedor {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

.contenedor img {
    width: 100%;
}

.title {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 69px;
    color: #0a2ff1;
    margin-right: 10%;
    text-align: right;
}

.title2 {
    font-family: 'Roboto', sans-serif;
    font: 700;
    font-size: 25px;
    color: #0a2ff1;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #000;
}


.text2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #000;
}

.button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 27px;
    color: white;
    background-color: #0a2ff1;
}

.width100pr {
    width: 100%;
}

.footer {
    margin-top: 10px;
    border-top: #15163d solid 10px;
}