@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.contenedor {
    display: inline;
    margin-right: 15px;
}

.contenedor img {
    width: 30%;
}

.pop-bold {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 67px;
    color: #0a2ff1;
}
.pop-reg {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.5em;
}

.bg-skyblue {
    background-color: #eff2ff;
}

.bg-blue {
    background-color: #8a9af1;
}

.c-white {
    color: white;
}